* {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  /* font-size: 13px; */
}

.welcome {
  background-color: rgb(248, 44, 92);
  width: 100%;
  display: flex;
  /* padding: 2% 6%; */
  align-items: center;
  padding: 2vh 2vw;
  color: #fff;
  font-size: 13px;
}
.welcome-first {
  margin-left: 8vw;
}
.welcome-first ul li {
  list-style: none;
  display: inline-block;
  /* margin: 0 10px; */
  border-right: 1px solid white;
  padding: 0 12px;
  position: relative;
}
.welcome-first ul li a {
  text-decoration: none;
  color: #fff;
}
.welcome-second {
  flex: 1;
  text-align: right;
  margin-right: 8vw;
}
.welcome-second select {
  background: none;
  margin: 0 5px;
  border: none;
  border-right: 1px solid white;
}
.welcome > * {
  /* flex: 1 1 auto;
  position: relative;
  padding-right: 1rem;
  border-right: 1px solid white; */
}
/* .welcome :first-child {
  padding-left: 8vw;
}
.welcome :last-child {
  padding-right: 8vw;
}
.welcome :nth-child(3) {
  border: none;
  margin-right: 5px;
} */
.primary-nav {
  display: flex;
  padding: 3% 10%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 10vw;
  /* flex-grow: 1;
  flex-basis: 0; */

  max-height: 5vh;
  border-bottom: 1px solid gray;
}
.primary-nav > * {
}
.nav-user {
}
.nav-user {
  flex: 1;
  display: flex;
  /* gap: 0px; */
  font-size: 13px;
  /* text-align: right; */
}
/* .nav-user a:first-child {
  padding-left: 30px;
} */
.nav-user div {
  display: flex;
  flex: 1;
  flex-flow: column;
  vertical-align: middle;
  text-align: center;
  min-width: 90px;
}
.search-bar {
  width: auto;
  height: 10vh;

  display: flex;

  align-items: center;
  justify-content: center;
}
#Categories-select {
  border: none;
  border-right: 1px solid grey;
  padding-right: 50px;
}
form {
  background: #fff;
  border: 1px solid gray;
  width: 600px;
  height: 45px;
  display: flex;
  /* border: none; */
}
form input {
  flex: 1;
  border: none;
  outline: none;
}
form button {
  padding: 10px;
  background: tomato;
  height: 100%;
  width: auto;

  /* padding: 10px 10px;
  padding-right: 9px; */
  /* align-items: center; */
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.secondary-nav {
  display: flex;
  font-size: 13px;
  padding: 10px 10%;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  color: gray;
}
.secondary-nav ul li {
  color: gray;
  list-style: none;
  display: inline-block;
  padding: 0 12px;
  position: relative;
}
.secondary-nav ul li a {
  text-decoration: none;
  font-size: 13px;
  color: gray;
}
.special-offer {
  display: flex;
  align-items: center;
}
.secondary-nav ul li select {
  border: none;
  color: gray;
}
.special-offer img {
  vertical-align: middle;
}
.special-offer p {
  display: inline-block;
}

.main-home img {
  width: 100%;
  height: auto;

  object-fit: cover;
}
.main-home {
  position: relative;
  overflow: auto;
  height: fit-content;
  text-align: center;
}
.main-text {
  position: absolute;

  font-weight: bold;
  color: grey;
  top: 30%;
  left: 10%;
  font-size: 13px;
  /* transform: translate(-50%, -50%); */

  text-align: center;
  overflow: auto;
  /* word-wrap: break-word; */
  white-space: normal;
}
.main-text h3 {
}
.main-text h1 {
  font-size: 4vh;
  color: black;
}
.main-text button {
  color: #fff;
  margin: 15px 10px;
  padding: 1vh 1vw;
  background: rgb(248, 44, 92);
  border: none;
  border-radius: 4px;
}

/* discount notice */
.discount-notice {
  width: 100vw;
  height: 85vh;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr; /*hoac repeat(3,1fr) */
  grid-template-rows: 1fr 1fr;

  gap: 30px;

  padding: 100px 200px;
  box-sizing: border-box;
}

.discount-notice div {
  padding: 20px;

  color: gray;
  font-weight: bold;

  border: 1px solid black;

  background-size: 100% 100%;
  background-position: center;
}

.discount-notice div h3 {
  color: black;
}
.discount-verticle {
  grid-row-start: 1;
  grid-row-end: 3;
}

.discount-verticle {
  background-image: url(image/discount-verticle.jpg);
}

.discount-box-1 {
  background-image: url(image/discount-box-1.jpg);
}
.discount-box-1 p:first-child {
  color: rgb(248, 44, 92);
}
.discount-box-2 {
  background-image: url(image/discount-box-2.jpg);
}
.discount-horizontal {
  grid-column-start: 2;
  grid-column-end: 4;

  background-image: url(image/discount-horizontal.jpg);
}

.bx-bx-search {
  width: auto;
}
.bx {
  color: rgb(248, 44, 92);
}
.checked {
  color: orange;
}

h1 {
  text-align: center;
  position: relative;
}

.title-underline {
  text-align: center;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: rgb(248, 44, 92);

  max-width: 300px;
}

.title-underline:before {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background-color: rgb(248, 44, 92);
  position: absolute;
  left: 0;
  top: 50%;
}

.title-underline:after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background-color: rgb(248, 44, 92);
  position: absolute;
  right: 0;
  top: 50%;
}

.new-product-nav {
  text-align: center;
}
.new-product-nav button {
  margin: 20px 20px;
  background: none;
  border: none;
}

.new-product {
  width: 100vw;
  height: 100vh;

  display: grid;

  grid-template-columns: repeat(5, 1fr); /*hoac repeat(3,1fr) */
  grid-template-rows: 1fr 1fr;

  gap: 30px;

  padding: 20px 200px;
  box-sizing: border-box;
}

.new-product .products {
  /* padding: 20px; */

  color: gray;
  font-weight: bold;

  /* border: 1px solid black; */

  background-size: 100% 100%;
  background-position: center;
}
.products {
  display: flex;
  flex-direction: column;
}
.products-image {
  position: relative;
  height: 70%;
  background-size: 100% 100%;
  background-position: center;
}

.products-flag {
  position: absolute;
  top: 8%;
  left: 5%;
  padding: 2%;

  background-color: rgb(248, 44, 92);
  border-radius: 10px 0px;
  color: white;
}

#products-1 .products-image {
  background-image: url(image/product-1.png);
}
#products-2 .products-image {
  background-image: url(image/product-2.png);
}
#products-3 .products-image {
  background-image: url(image/product-3.png);
}
#products-4 .products-image {
  background-image: url(image/product-4.png);
}
#products-5 .products-image {
  background-image: url(image/product-5.png);
}
#products-6 .products-image {
  background-image: url(image/product-6.png);
}
#products-7 .products-image {
  background-image: url(image/product-7.png);
}
#products-8 .products-image {
  background-image: url(image/product-8.png);
}
#products-9 .products-image {
  background-image: url(image/product-9.png);
}
#products-10 .products-image {
  background-image: url(image/product-10.png);
}

.products-type {
  font-size: 13px;
}

.products-name {
  color: #000;
}
.products-price {
  font-size: 13px;
}
.products-info > * {
  padding: 1% 0;
}

.products-button {
  display: flex;

  gap: 15px;
}
.products-button button:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  min-width: 50%;
  /* text-align: center; */
}

.products button {
  height: 5vw;
  width: 5vh;
  max-width: 5vw;
  max-height: 5vh;

  padding: 10px;

  background: none;
  border: 1px solid grey;
}
.bx-cart {
  font-size: 2.5em;
  color: grey;
}
i.bx-heart {
  font-size: 1.5em;
  color: gray;
}
i.fa-eye {
  font-size: 1.5em;
  color: gray;
}

.good-deal {
  width: 100vw;
  height: 80vh;
  box-sizing: border-box;
  padding: 100px 200px;

  position: relative;
  /* margin: 20px 200px; */
}
/* .good-deal div img{
  object-fit: cover;
} */
.good-deal img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.good-deal-content {
  /* padding: 20px; */
  padding: inherit;
  color: gray;
  font-weight: bold;
  /* border: 1px solid black; */

  background-size: 100% 100%;
  background-position: center;

  position: absolute;
  top: 10%;
  left: 5%;
}

.good-deal-content h1 {
  text-align: left;
  color: #000;
  position: ;
}
.good-deal-content p:first-child {
  color: rgb(248, 44, 92);
}
