* {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  vertical-align: baseline;
  /* font-size: 13px; */
}
ol,
ul {
  list-style-type: none;
}
html {
  font-size: 62.5%;
}

/* ---------COMMON------------- */

.btn:hover {
  opacity: 0.85;
}

a {
  text-decoration: none;
}

:root {
  --primary-color: #ee2761;
  --primary-text-color: #5f5b53;
}
.main-content {
  width: 1200px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
/* ---------HEADER------------- */
.header {
  background-color: #ee2761;
}

.header .nav-head {
  display: flex;
  color: white;
  justify-content: space-between;
  width: 100%;
  padding: 12px 0px;
  font-size: 1.2rem;
  cursor: pointer;
}

.header .nav-head .introduce ul {
  display: flex;
}

.header .nav-head .introduce ul li:first-child:hover {
  color: black;
}

.header .nav-head .introduce ul li:nth-child(2):hover {
  color: black;
}

.header .nav-head .introduce ul li:last-child:hover {
  color: black;
}

.nav-head .introduce ul li:nth-child(2) {
  margin: 0px 10px;
  border: 1px solid #fff;
  border-top: none;
  border-bottom: none;
  padding: 0px 10px;
}

.header .nav-head .settings ul {
  display: flex;
}

.header .nav-head .settings ul li:first-child:hover {
  color: black;
}

.header .nav-head .settings ul li:last-child:hover {
  color: black;
}

.nav-head .settings ul li:nth-child(2) {
  margin-left: 10px;
  border-left: 1px solid #fff;
  padding-left: 10px;
}

.nav-head .active {
  display: flex;
}

.nav-head .active p {
  font-size: 1.2rem;
  margin-left: 5px;
}

.settings .active p {
  margin-right: 5px;
}

.body-header .body-info .main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body-header .body-info {
  border-bottom: 2px solid #eaeaea;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}

/* BODY-LOGO */

.body-info .logo {
  display: flex;
  cursor: pointer;
}

.body-info .logo i {
  color: var(--primary-color);
}

.body-info .logo-title {
  font-weight: 600;
  font-size: 1.8rem;
  margin-left: 5px;
}

.body-info .logo-title:hover {
  color: var(--primary-color);
}

/* BODY-SEARCHING */

.body-info .searching {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: var(--primary-text-color);
  cursor: pointer;
}

.body-info .searching .all {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  border: 2px solid #eaeaea;
  height: 40px;
}

.body-info .searching .all:hover {
  color: black;
}

.body-info .searching .search {
  display: flex;
  align-items: center;
  padding: 0px 130px 0px 20px;
  border: 2px solid #eaeaea;
  border-left: none;
  height: 40px;
}

.body-info .searching .search:hover {
  color: black;
}

.body-info .searching .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border: none;
  color: white;
  cursor: pointer;
}

.body-info .searching .btn:hover {
  color: black;
}

/* BODY-SETTINGS */
.body-info .info-settings {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: var(--primary-text-color);
  cursor: pointer;
}

.body-info .info-settings .acount {
  margin-left: 15px;
}

.body-info .info-settings .acount:hover {
  color: black;
}

.body-info .info-settings .acount i {
  padding-left: 30px;
  padding-bottom: 5px;
}

.body-info .info-settings .wish {
  margin-left: 15px;
}

.body-info .info-settings .wish:hover {
  color: black;
}

.body-info .info-settings .wish i {
  padding-left: 15px;
  padding-bottom: 5px;
}

.body-info .info-settings .cart {
  margin-left: 15px;
}

.body-info .info-settings .cart:hover {
  color: black;
}

.body-info .info-settings .cart i {
  padding-left: 12px;
  padding-bottom: 5px;
}

.info-settings .noti-wish {
  position: relative;
}

.info-settings .noti-wish .badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 2px;
  top: -5px;
  right: 14px;
}

.info-settings .noti-cart {
  position: relative;
}

.info-settings .noti-cart .badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 2px;
  top: -5px;
  right: 8px;
}

/* ///////// */
.body-header .body-nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
}

/* LEFT */

.body-header .body-nav .main-content {
  display: flex;
  justify-content: space-between;
}

.body-header .nav-list ul {
  display: flex;
}

.nav-list ul li {
  padding: 16px 30px 16px 0px;
}

.nav-list ul li:hover {
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  opacity: 0.8;
}

.body-header ul li a {
  color: var(--primary-text-color);
  font-size: 1.5rem;
}

.body-header ul li a:hover {
  color: black;
}

/* RIGHT */

.body-header .body-nav .nav-info {
  display: flex;
  align-items: center;
}

.body-header .nav-info .desc {
  margin-left: 10px;
  font-size: 1.5rem;
  color: var(--primary-text-color);
}

.body-header .nav-info .desc:hover {
  color: black;
  cursor: pointer;
}

.body-header .nav-info i {
  color: var(--primary-color);
}

/* ///////////////////////////////////// */
.main-home img {
  width: 100%;
  height: auto;

  object-fit: cover;
}
.main-home {
  position: relative;
  overflow: auto;
  height: fit-content;
  text-align: center;
}
.main-text {
  position: absolute;

  font-weight: bold;
  color: grey;
  top: 30%;
  left: 10%;
  font-size: 2.5rem;
  /* transform: translate(-50%, -50%); */

  text-align: center;
  overflow: auto;
  /* word-wrap: break-word; */
  white-space: normal;
}
.main-text h3 {
  font-size: 1.6rem;
}
.main-text-desc {
  font-size: 1.6rem;
}
.main-text h1 {
  color: black;
}
.main-text button {
  color: #fff;
  margin: 15px 10px;
  padding: 1vh 1vw;
  background: rgb(248, 44, 92);
  border: none;
  border-radius: 4px;
}

/* discount notice */
.discount-notice {
  width: 100vw;
  height: 85vh;
  font-size: 1.5rem;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr; /*hoac repeat(3,1fr) */
  grid-template-rows: 1fr 1fr;

  gap: 30px;

  padding: 100px 200px;
  box-sizing: border-box;
}

.discount-notice div {
  padding: 20px;

  color: gray;
  font-weight: bold;

  border: 1px solid black;

  background-size: cover;
  background-position: center;
}

.discount-notice div h3 {
  color: black;
  font-size: 2rem;
}
.discount-verticle {
  grid-row-start: 1;
  grid-row-end: 3;
}

.discount-verticle {
  background-image: url(image/discount-verticle.jpg);
}

.discount-box-1 {
  background-image: url(image/discount-box-1.jpg);
}
.discount-box-1 p:first-child {
  color: rgb(248, 44, 92);
}
.discount-box-2 {
  background-image: url(image/discount-box-2.jpg);
}
.discount-horizontal {
  grid-column-start: 2;
  grid-column-end: 4;

  background-image: url(image/discount-horizontal.jpg);
}

.bx-bx-search {
  width: auto;
}
.bx {
  color: rgb(248, 44, 92);
}
.checked {
  color: orange;
}

/* -------------INTRO TITLE -------------------- */
h1 {
  text-align: center;
  position: relative;
}
.intro-title {
  font-size: 2.5rem;
}
.title-underline {
  text-align: center;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: var(--primary-color);

  max-width: 300px;
}

.title-underline:before {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  top: 50%;
}

.title-underline:after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  right: 0;
  top: 50%;
}

/* -------------NEW PRODUCT -------------------- */

.new-product-nav {
  text-align: center;
  font-size: 1rem;
}
.new-product-nav button {
  margin: 20px 20px;
  background: none;
  border: none;
}

.new-product {
  width: 100vw;
  height: 100vh;
  font-size: 1rem;
  display: grid;

  grid-template-columns: repeat(5, 1fr); /*hoac repeat(3,1fr) */
  grid-template-rows: 1fr 1fr;

  gap: 30px;

  padding: 20px 200px;
  box-sizing: border-box;
}

.new-product .products {
  /* padding: 20px; */

  color: gray;
  font-weight: bold;

  /* border: 1px solid black; */

  background-size: cover;
  background-position: center;
}
.products {
  display: flex;
  flex-direction: column;
}
.products-image {
  position: relative;
  height: 70%;
  background-size: cover;
  background-position: center;
}

.products-flag {
  position: absolute;
  top: 8%;
  left: 5%;
  padding: 2%;

  background-color: rgb(248, 44, 92);
  border-radius: 10px 0px;
  color: white;
}

#products-1 .products-image {
  background-image: url(image/product-1.png);
}
#products-2 .products-image {
  background-image: url(image/product-2.png);
}
#products-3 .products-image {
  background-image: url(image/product-3.png);
}
#products-4 .products-image {
  background-image: url(image/product-4.png);
}
#products-5 .products-image {
  background-image: url(image/product-5.png);
}
#products-6 .products-image {
  background-image: url(image/product-6.png);
}
#products-7 .products-image {
  background-image: url(image/product-7.png);
}
#products-8 .products-image {
  background-image: url(image/product-8.png);
}
#products-9 .products-image {
  background-image: url(image/product-9.png);
}
#products-10 .products-image {
  background-image: url(image/product-10.png);
}

.products-type {
  font-size: 1.3rem;
}

.products-name {
  font-size: 1.5rem;
  color: #000;
}
.products-price {
  font-size: 1.3rem;
}
.products-info > * {
  padding: 1% 0;
}

.products-button {
  display: flex;

  gap: 15px;
}
.products-button button:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  min-width: 50%;
  /* text-align: center; */
}

.products button {
  height: 5vw;
  width: 5vh;
  max-width: 5vw;
  max-height: 5vh;
  font-size: 1.3rem;
  padding: 10px;

  background: none;
  border: 1px solid grey;
}
.bx-cart {
  /* font-size: 2.5rem; */
  color: grey;
}
i.bx-heart {
  font-size: 1.5rem;
  color: gray;
}
i.fa-eye {
  font-size: 1.5rem;
  color: gray;
}

/* -------------GOOD DEAL -------------------- */
.good-deal {
  width: 100vw;
  height: max-content;
  padding: 100px 200px;
  /* margin: 20px 200px; */
}
.good-deal-inside {
  /* height: 100%; */
  font-size: 1.5rem;
  height: max-content;
  width: auto;
  padding: 4em 4em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-position: center;

  /* position: relative; */
  object-fit: cover;
  background-image: url(image/deal-offer.jpg);
}
/* .good-deal-inside > * {
  padding-bottom: 10px;
} */
/* .good-deal div img{
  object-fit: cover;
} */
/* .good-deal img {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: contain;
} */

.good-deal-content {
  height: fit-content;

  /* padding: 20px; */
  /* padding: inherit; */
  color: gray;
  font-weight: bold;
  /* border: 1px solid black; */

  /* position: absolute;
  top: 10%;
  left: 5%; */
}
.good-deal-content > * {
  padding-bottom: 4vh;
}
.good-deal-content h1 {
  text-align: left;
  color: #000;
}
.good-deal-content p:first-child {
  color: rgb(248, 44, 92);
}

.bx-play-circle {
  color: rgb(248, 44, 92);
  position: absolute;
  right: 25%;
  top: 50%;
  transform: translateY(-50%);
  /* bottom: 0; */
  /* margin: auto 0; */
  font-size: 5rem;
  /* justify-content: center;
  align-items: center; */
}

.until {
  /* margin: 25px; */
  /* padding: inherit; */
  /* position: absolute; */
  /* top: 40%;
  left: 5%; */
  max-width: 50%;
  display: grid;
  /* grid-template-columns: repeat(7, 1fr); */
  grid-template-columns:
    1fr fit-content(1em) 1fr fit-content(1em) 1fr fit-content(1em)
    1fr;
  /* grid-template-rows: 1fr; */
  gap: 1em;
  padding-bottom: 4vh;
  border-radius: 5px;

  /* padding: 1em; */
}

.until-component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 10vh;
  width: auto;
  text-align: center;
  background: #fff;

  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.until-component:nth-child(even) {
  background: none;
  box-shadow: none;
}

.until-unit {
  color: grey;
  padding-bottom: 1em;
}

.until-numeric {
  padding: 0.5em 0.5em;
  font-size: 2.5rem;
  font-weight: bold;
}
.double-dot {
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

.good-deal-button {
  font-size: 1.5rem;
  width: max-content;
  height: max-content;
  padding: 1em;
  background-color: rgb(248, 44, 92);
  border: none;
  color: #fff;
}
.good-deal-button i {
  color: #fff;
}
/* -------------BEST SELLER -------------------- */
.best-seller-title {
  font-size: 2.5rem;
}
.best-seller {
  width: 100vw;
  height: 50vh;
  font-size: 1rem;
  display: grid;

  grid-template-columns: repeat(5, 1fr);

  gap: 30px;

  padding: 20px 200px;
  box-sizing: border-box;
}

.best-seller .products {
  /* padding: 20px; */
  font-size: 1rem;
  color: gray;
  font-weight: bold;

  /* border: 1px solid black; */

  background-size: cover;
  background-position: center;
}

/* -------------DISCOUNT NOTICE 2 -------------------- */
.discount-notice-2 {
  width: 100vw;
  height: 50vh;
  font-size: 1.5rem;
  display: grid;

  grid-template-columns: 1fr 1fr; /*hoac repeat(3,1fr) */

  gap: 30px;

  padding: 100px 200px;
  box-sizing: border-box;
}

.discount-notice-2 div {
  padding: 20px;

  color: gray;
  font-weight: bold;

  border: 1px solid black;

  background-size: cover;
  background-position: center;
}

.discount-notice-2 div h3 {
  color: black;
}

.discount-1 {
  background-image: url(image/discount-1.png);
}
.discount-2 {
  background-image: url(image/discount-2.png);
}
.discount-component a {
  text-decoration: underline;
  font-size: 1.3rem;
}

/* -------------CLIENT -------------------- */
.client-title {
  font-size: 2.5rem;
}
.client {
  width: 100vw;
  height: 50vh;
  padding: 0 200px;
  font-size: 1.5rem;
}

.client > * {
  margin: 1.5em 1.5em;
}
.client-review {
  /* font-size: 1.2em; */
  height: 100%;
  width: auto;
  display: grid;
  padding: 0.8em 0.8em;
  grid-template-columns: 1fr 1fr 1fr;
  /*hoac repeat(3,1fr) */

  box-sizing: border-box;

  gap: 2em;
  border-radius: 5px;

  background: #f5f5f5;
}

.client-review-component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
  background: #fff;
  color: grey;
  line-height: 2em;
  padding: 8%;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.client-review-image-border {
  border-radius: 50%;
  border: 2px solid grey;
  padding: 2px;
  margin-bottom: 1em;
}
.client-review-image {
  height: 20%;
  width: 20%;
  padding: 50px;

  border-radius: 50%;
  /* box-sizing: border-box; */
  background-size: cover;
  background-position: center;
}
.client-review-image.client-1 {
  background-image: url(image/client-1.jpg);
}
.client-review-image.client-2 {
  background-image: url(image/client-2.jpg);
}
.client-review-image.client-3 {
  background-image: url(image/client-3.jpg);
}

.client-review-name {
  color: #000;
}
.client-review-description {
  font-size: 0.8em;
}

.client-review-nav {
  text-align: center;
  font-size: 1.5em;
}
/* -------------RECOMMENDATION -------------------- */
.recommendation {
  width: 100vw;
  height: max-content;
  padding: 100px 200px;
  /* margin: 20px 200px; */
}
.recommendation-inside {
  /* height: 100%; */
  height: max-content;
  width: auto;
  font-size: 1.3rem;
  padding: 4em 4em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-position: center;
  color: #f5f5f5;
  /* position: relative; */
  object-fit: cover;
  background-image: url(image/recommendation.png);
}

.recommendation-content {
  height: fit-content;

  font-weight: bold;
}
.recommendation-content > * {
  padding-bottom: 4vh;
}
.recommendation-content h1 {
  text-align: left;
  color: #fff;
}
.recommendation-content p:first-child {
  color: rgb(248, 44, 92);
}

.bx-play-circle {
  color: rgb(248, 44, 92);
  position: absolute;
  right: 25%;
  top: 50%;
  transform: translateY(-50%);

  font-size: 5em;
}

.recommendation-button {
  font-size: 1em;
  width: max-content;
  height: max-content;
  padding: 1em;
  background-color: rgb(248, 44, 92);
  border: none;
  color: #fff;
}
.recommendation-button i {
  color: #fff;
}

/* -------------BLOG ITEM -------------------- */
/* .blog-title {
  font-size: 2.5rem;
} */
.blog-item .main-content .blog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  grid-template-rows: 500px;
}

.blog-item .item .blog-img {
  display: block;
  width: 100%;
  height: 60%;
  object-fit: cover;
  margin-bottom: 15px;
}

.blog-item .item .intro {
  color: var(--primary-text-color);
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.blog-item .item .title {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 600;
  padding-bottom: 20px;
  cursor: pointer;
}

.blog-item .item .btn {
  border: 0.5px solid var(--primary-text-color);
  color: var(--primary-text-color);
  padding: 5px 10px;
  border-radius: 2px;
}

.blog-item .item .btn:hover {
  background: var(--primary-color);
}

/* -------------FOOTER-------------------- */
.footer {
  background: #1d1c1c;
}

.footer .footer-container {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 2fr 2fr;
  grid-template-rows: 350px 120px;
  column-gap: 50px;
}

.footer-container .item6 {
  grid-column-start: 1;
  grid-column-end: 6;
}

.footer .footer-info .title {
  font-size: 1.5rem;
  padding-top: 50px;
  position: relative;
  color: #eee7e2;
  margin-bottom: 20px;
}

.footer .footer-info .title::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 46px;
  height: 1.5px;
  background: #eee7e2;
  bottom: -10px;
  left: 0px;
}

/* ITEM1 */
.footer .item1 .footer-info .desc {
  color: #eee7e2;
  font-size: 1.3rem;
  line-height: 1.5;
  margin-top: 50px;
}

.footer .item1 .footer-info .invite {
  color: #eee7e2;
  font-size: 1.5rem;
  margin-top: 35px;
}

.footer .item1 .footer-info .icon {
  color: #eee7e2;
  margin-top: 15px;
  cursor: pointer;
}

.footer .item1 .footer-info .icon i:first-child:hover {
  color: var(--primary-color);
}

.footer .item1 .footer-info .icon i:nth-child(2):hover {
  color: var(--primary-color);
}

.footer .item1 .footer-info .icon i:nth-child(3):hover {
  color: var(--primary-color);
}

.footer .item1 .footer-info .icon i:last-child:hover {
  color: var(--primary-color);
}

.footer .item1 .footer-info .icon i {
  padding-right: 5px;
}

/* ITEM2 */
.footer .item2 .list1 ul {
  display: flex;
  flex-direction: column;
  color: #eee7e2;
}

.footer .item2 .list1 ul li {
  font-size: 1.3rem;
  padding-bottom: 10px;
  cursor: pointer;
}

.footer .item2 .list1 ul li:first-child {
  margin-top: 30px;
}

.footer .item2 .list1 ul li:first-child:hover {
  color: var(--primary-color);
}

.footer .item2 .list1 ul li:nth-child(2):hover {
  color: var(--primary-color);
}

.footer .item2 .list1 ul li:nth-child(3):hover {
  color: var(--primary-color);
}

.footer .item2 .list1 ul li:nth-child(4):hover {
  color: var(--primary-color);
}

.footer .item2 .list1 ul li:nth-child(5):hover {
  color: var(--primary-color);
}

.footer .item2 .list1 ul li:last-child:hover {
  color: var(--primary-color);
}

/* ITEM3 */
.footer .item3 .list2 ul {
  display: flex;
  flex-direction: column;
  color: #eee7e2;
}

.footer .item3 .list2 ul li {
  font-size: 1.3rem;
  padding-bottom: 10px;
  cursor: pointer;
}

.footer .item3 .list2 ul li:first-child {
  margin-top: 30px;
}

.footer .item3 .list2 ul li:first-child:hover {
  color: var(--primary-color);
}

.footer .item3 .list2 ul li:nth-child(2):hover {
  color: var(--primary-color);
}

.footer .item3 .list2 ul li:nth-child(3):hover {
  color: var(--primary-color);
}

.footer .item3 .list2 ul li:nth-child(4):hover {
  color: var(--primary-color);
}

.footer .item3 .list2 ul li:nth-child(5):hover {
  color: var(--primary-color);
}

.footer .item3 .list2 ul li:last-child:hover {
  color: var(--primary-color);
}

/* ITEM4 */

.footer .item4 .footer-info .insta-contain {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 100px;
  gap: 10px;
}

.item4 .footer-info .insta-contain .item .insta-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

/* ITEM5 */

.footer .item5 .intro {
  margin-top: 50px;
  color: #eee7e2;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 15px;
}

.footer .item5 .input {
  color: var(--primary-text-color);
  font-weight: 600;
  padding: 8px 20px 8px 5px;
  margin-bottom: 25px;
}

.footer .item5 .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #eee7e2;
  font-size: 1.6rem;
  font-weight: 600;
  width: 191px;
  height: 35px;
  padding: 10px 0px;
  background: #ee2761;
  display: inline-block;
  border-radius: 2px;
}

/* ITEM6 */
.footer .item6 .footer-info {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.footer .item6::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #eee7e2;
}

.footer .item6 .desc {
  color: #eee7e2;
  font-size: 1.3rem;
}

.footer .item6 .visa .visa-container {
  display: grid;
  grid-template-columns: repeat(6, 50px);
  grid-template-rows: 30px;
  column-gap: 10px;
}

.visa .visa-item .visa-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
}
